*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 62.5%;
    font-family: sans-serif;
    min-height: 100vh;

}
header{
    height: 60px;
    border: 2px solid black;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav-items{
    display: flex;
    list-style: none;
    gap: 2rem;
}
main{
    min-height: 100vh;
}