*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 62.5%;
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 40%;
    padding: 1rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
}
.timer{
    font-size: 2rem;
}
.btns{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.btns button{
    padding: 0.3rem 0.6rem;
}