*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 62.5%;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.container{
    border: 2px solid blueviolet;
    padding: 1rem;
    border-radius: 4px;
    width: 40%;
    font-size: 1rem;    
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.text{
    padding: 0.5rem 0;
    border-radius: 4px;
    display: none;
}
.live{
    display: block;
}
.btn{
    font-size: 0.7rem;
    border : 1px solid black;
    padding: 0.3rem;
    border-radius: 4px;
}